<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="AggregateRootActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="AggregateRootActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="AggregateRootActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <Section Name="EventStoreConfig">
    <Parameter Name="EventStore_EndpointUri" Value="" />
    <Parameter Name="EventStore_PrimaryKey" Value="" />
    <Parameter Name="EventStore_DatabaseId" Value="" />
    <Parameter Name="EventStore_CollectionId" Value="" />
  </Section>
  <Section Name="CommandRegistryConfig">
    <Parameter Name="CommandRegistry_EndpointUri" Value="" />
    <Parameter Name="CommandRegistry_PrimaryKey" Value="" />
    <Parameter Name="CommandRegistry_DatabaseId" Value="" />
    <Parameter Name="CommandRegistry_CollectionId" Value="" />
  </Section>
</Settings>