<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="ProjectorActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="ProjectorActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="ProjectorActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <Section Name="CosmosDbConfig">
    <Parameter Name="CosmosDb_EndpointUri" Value="" />
    <Parameter Name="CosmosDb_PrimaryKey" Value="" />
    <Parameter Name="CommandRegistry_DatabaseId" Value="" />
    <Parameter Name="CommandRegistry_CollectionId" Value="" />
    <Parameter Name="EventStore_DatabaseId" Value="" />
    <Parameter Name="EventStore_CollectionId" Value="" />
    <Parameter Name="ProjectionModelRepository_DatabaseId" Value="" />
    <Parameter Name="ProjectionModelRepository_CollectionId" Value="" />
  </Section>
</Settings>